{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "booking/index.css" %}">
{% endblock %}

{% block title %}
Login/SignUp
{% endblock %}

{% block content %}
<div id="login_signup_box">
    <div id="login">
        <p class="heading">Login</p>
        <form action="/login/" method="post">
            {% csrf_token %}
            <input id="id_login_login-username" placeholder="Email" maxlength="254" name="login-username" type="text">
            <br>
            <input id="id_login_login-password" placeholder="Password" name="login-password" type="password">
            <br>
            {% if login_form.errors %}
            <p align="center">
                Your username and password didn't match. Please try again.
            </p>
            {% endif %}
            <p align="right"><button class="btn" type="submit">Login</button></p>
        </form>
    </div>
    <div id="signup">
        <p class="heading">or SignUp</p>
        <form action="/signup/" method="post">
            {% csrf_token %}
            {% if signup_form.errors %}
            {% endif %}
            {% for field in signup_form %}
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                <br>
            {% endfor %}
            <p align="right">
            <button class="btn" type="submit">Sign Up</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
