{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "booking/login.css" %}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div id="login_container">
    <div id="login">
        <p class="heading">Login <span style="font-size:14px">or Click here to <a href="/signup">SignUp</a></span></p>
        <form action="/login/" method="post">
            {% csrf_token %}
            <input id="id_login_login-username" placeholder="Email" maxlength="254" name="login-username" type="text">
            <br>
            <input id="id_login_login-password" placeholder="Password" name="login-password" type="password">
            <br>
            {% if login_form.errors %}
            <p align="center">
                Your username and password didn't match. Please try again.
            </p>
            {% endif %}
            <p align="right"><button class="btn" type="submit">Login</button></p>
        </form>
    </div>
</div>
{% endblock %}
